<%- include("../partials/header.ejs"); %>

<h1><%= campground.name %></h1>

<img src="<%= campground.img %>">

<p>
	<%= campground.description; %>
</p>
<% console.log("/campgrounds/" + campground._id + "/comments/new") %>
<a  class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Leave a review</a>
<%for (var i = 0; i < campground.comments.length; i++) { %>
	
	<h3>
		<%= campground.comments[i].author %>:
	</h3>

	<p>
		<%= campground.comments[i].text %>
	</p>
<% } %>


<%- include("../partials/footer.ejs"); %>
